{% extends "admin/change_form.html" %}

{% block form_top %}
  <p>Insert meaningful help message here...</p>
{% endblock %}

{% block after_related_objects %}

<h3>Associated AnyField object</h3>
<a href="../../anyfield/{{original.any_field.id}}/">AnyField [id={{original.any_field.id}}, name={{original.any_field.name}}]</a> <br />


<h3>Associated AnyValueOwner object</h3>
<a href="../../anyvalueowner/{{original.owner.id}}/">AnyValueOwner [id={{original.owner.id}}, name={{original.any_field.name}}]</a> <br />

{% endblock %}