{% extends "admin/change_form.html" %}

{% block form_top %}
  <p>Insert meaningful help message here...</p>
{% endblock %}

{% block after_related_objects %}

<h3>Associated Base Group </h3>
{{ original.event.parent_group }}

<!-- <a href="../../../flexmodel/fieldgroup/{{original.plan_model.id}}/">FieldGroup [id={{original.plan_model.id}}, name={{original.plan_model.name}}, {{original.plan_model}}]</a> <br /> -->

<h3>Associated Event Link </h3>
<a href="../../../events/event/{{original.event.id}}/">Event [id={{original.event.id}}, name={{original.event.title}}]</a>
                      
{% endblock %}