{% extends "admin/change_form.html" %}

{% comment %} http://www.djangobook.com/en/1.0/chapter17/ {% endcomment %}

{% block form_top %}
  <p>Insert meaningful help message here?...</p>
{% endblock %}

{% block after_related_objects %}

<h3>Associated Events</h3>
{% for event in original.events.all %}
  <a href="../../../events/event/{{event.id}}/">Event [id={{event.id}}, title={{event.title}}</a>   
  {% if event.champinfo %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="../../../champ2/champinfo/{{event.champinfo.id}}/">Champinfo [id={{event.champinfo.id}}, title={{event.title}}</a> 
  {% endif %}
  
  {% if event.champinfo.value_owner %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="../../../flexmodel/anyvalueowner/{{event.champinfo.value_owner.id}}/">AnyValueOwner [id={{event.champinfo.value_owner.id}}</a> 
  {% endif %}

  
  <br />
{% endfor %}

{% endblock %}