{% extends 'events/base.html' %}
{% load events_tags %}
{% load whiteboard_tags %}

{% load var %}

{% block body %}

<style type="text/css"> 
<!-- 
.header
{
  padding: 5px 0 5px 5px;
  font-weight: bold;
  color: white;
}

.checkbox_div
{
  float: left;
  margin-right: 12px;
  padding-bottom: 5px;

}
--> 
</style>


<script type="text/javascript"> 
<!-- 

$(document).ready(function()
{ 
  $(".prog_area_checkbox").click( function()
    {
      //parse out the id of the div to toggle
      var id = $(this).parent()[0].id;
      var remove = "assoc_div_id_";
      nid = id.substr(remove.length);
      var div = $("#div_id_"+nid);
      
      if( $(this)[0].checked )
      {
        div.show();
      }
      else
      {
        div.hide();
      }
      
      //alert("run!");
        

      
    }
  );


});



--> 
</script>



<div type="text" id="datepicker"></div>

<div id="event-details">
    
 <form action="." method="post">
 
 
 
    {% for form in formgroup %}
       <div class="checkbox_div" id="assoc_div_id_{{ form.div_id }}">     
       {{ form.field.label_tag }} {{ form.field }}
       </div> 
    {% endfor %}
 
      <br />
      <br />
      <br />
      <br />
      {% for form in formgroup %}
       {% if form.field.field.initial %} <p> {{ form.groupname }}  </p> {% else %}  {% endif %}  
        <p>DATA: {{ form.is_set}}</p> 
      {% endfor %} 
 
    <div style="clear:both;">
    </div>
    <br />
 
     {% for form in formgroup %}
        <p>is set {{ form.field.field.initial }} </p>
       <div id="div_id_{{ form.div_id }}"  {% if form.field.field.initial %} {% else %}style="display:none;"{% endif %}>      
       <div class="bkgd header toolbarheader hidebox" > {{ form.groupname }} </div>
       <div class="toolbarcontent" style="display:none; padding: 2px; overflow: none; border:1px solid grey;">    
       {% comment %}
       {{ form.subform.as_p }}
       {% endcomment %}
       
       <table>
       {% var in_group = 0 %}
       {% for field in form.subform.visible_fields %}
            
            {% if field.field.is_group  %}
                {% var in_group xor 1 %}
                {% comment %}{{ field|safe }} {% endcomment %}
                {% if in_group %}
                    <tr>
                      <td colspan="2">
                        {{ field.label }}
                      </td>
                      <td>
                      </td>
                    </tr>      
                {% endif %}    

            {% else %}
              
                {% if in_group %}
                  <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>
                      {{ field.errors }}
                      {{ field.label_tag }}:
                    </td>
                    <td>
                      {{ field }}
                    </td>
                  </tr>              
                {% else%}
                  <tr>
                    <td colspan="2">
                      {{ field.errors }}
                      {{ field.label_tag }}: 
                    </td>
                    <td>
                      {{ field }}
                    </td>
                  </tr>
                {% endif %}
            
            {% endif %}
                
       {% endfor %}
       </table>
       {% for field in form.subform.hidden_fields %}
          {{ field }}
       {% endfor %}
       
       </div>
       </div>



    {% endfor %}
    
		<input type="submit" value="Save changes" />
	</form>
	
</div>



{% endblock %}

