{% extends "admin/change_form.html" %}

{% block form_top %}
  <p>Insert meaningful help message here...</p>
{% endblock %}

{% block after_related_objects %}

<h3>Associated plan field group link: </h3>
<a href="../../../flexmodel/fieldgroup/{{original.plan_model.id}}/">FieldGroup [id={{original.plan_model.id}}, name={{original.plan_model.name}}, {{original.plan_model}}]</a> <br />

<h3>Associated evaluation field group link: </h3>
<a href="../../../flexmodel/fieldgroup/{{original.eval_model.id}}/">FieldGroup [id={{original.eval_model.id}}, name={{original.eval_model.name}}, {{original.eval_model}}]</a> <br />

<h3>Associated goal field group link: </h3>
<a href="../../../flexmodel/fieldgroup/{{original.goal_model.id}}/">FieldGroup [id={{original.goal_model.id}}, name={{original.goal_model.name}}, {{original.goal_model}}]</a> <br />


                      
{% endblock %}