{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load base_groups_tags %}
{% load user_search_tags %}

{% block extra_head %}
	{{ block.super }}
	{{ form.media }}
{% endblock %}

{% block head_title %}{% blocktrans %}Subscribe to mailing list{% endblocktrans %}{% endblock %}

{% block body %}

{% if show_link_not_form %}
  
  <h2>Thank you for joining the {{ group.name }} mailing list.</h2>
  
  <script type="text/javascript">
  window.setTimeout("window.location.href=\"http://{{ group.slug }}.ewb.ca/\"", 10000);
  </script>
  
  <p>
  You will automatically be redirected back to the <a href="http://{{ group.slug }}.ewb.ca/">{{ group.name }}</a> website in ten seconds.
  <br />
  Click <a href="http://{{ group.slug }}.ewb.ca/"> here to return now</a> to <a href="http://{{ group.slug }}.ewb.ca/">http://{{ group.slug }}.ewb.ca/</a><br />
  <br />
  Or click <a href="{{url}}">here</a> to add another email to the mailing list.
  
  </p>
{% else %}

  <h1>{% trans "Subscribe to mailing list" %}</h1>
  <h2>{{ group.name }}</h2>

  <form class="uniForm" method="POST" action="">
  	<fieldset class="inlineLabels">
  		{{ form|as_uni_form }}
  		<div class="form_block">
  			<input type="submit" value="{% trans 'subscribe' %}"/>
  		</div>
  	</fieldset>
  </form>
{% endif %}


{% endblock %}