{% extends "admin/change_form.html" %}

{% comment %} http://www.djangobook.com/en/1.0/chapter17/ {% endcomment %}

{% block form_top %}
  <p>Insert meaningful help message here...</p>
{% endblock %}

{% block after_related_objects %}

<h3>Associated AnyValue objects</h3>
{% for anyvalue in original.anyvalue_set.all %}
	<a href="../../anyvalue/{{anyvalue.id}}/">AnyValue [id={{anyvalue.id}}, value={{anyvalue.get_value}}, active_field={{anyvalue.active_field}}]</a> <br />
{% endfor %}

<h3>Associated Calc object</h3>
{{original.calc}}
	<a href="../../calc/{{original.calc.id}}/">calc [id={{original.calc.id}}, value={{original.calc.formula}}]</a> <br />


{% endblock %}